KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/username/.Xauthority", ENV{HOME}="/home/username", RUN+="/bin/i3-workscreen"
